.main-block {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 759px;
  margin-top: 56px;
  margin-bottom: 144px;

  &::before {
    content: '';
    position: absolute;
    top: -152px;
    left: 0;
    right: 0;
    height: 735px;
    background: #F7FBEC;
    z-index: -1;
  }

  &__title {
    margin: 0;
    margin-bottom: 48px;
    font-family: 'Tenor Sans Regular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 97px;
    letter-spacing: -1.96px;
    color: #084F32;
  }

  &__left {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
    padding-top: 41px;
    padding-bottom: 44px;
  }

  &__right {
    position: relative;
    max-width: 612px;
    width: 100%;
  }

  &__price {
    position: absolute;
    top: 18%;
    left: 47%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 108px;
    transform: translateX(-50%);

    &::after,
    &::before {
      content: '';
      position: absolute;
    }

    &::before {
      top: -33%;
      left: 19%;
      width: 105px;
      height: 48px;
      background: rgba(255, 255, 255, 0.3);
      transform: matrix(-0.98, 0.2, 0.2, 0.98, 0, 0);
      border-radius: 100%;
    }

    &::after {
      top: -55%;
      left: 21%;
      width: 104px;
      height: 57px;
      border: 1px solid #E0EDC1;
      transform: matrix(-0.95, 0.32, 0.32, 0.95, 0, 0);
      border-radius: 100%;
    }

    span {
      &:first-child {
        font-family: 'Manrope';
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.24px;
        color: #FDFFF8;
      }

      &:last-child {
        font-family: 'Tenor Sans Regular', sans-serif;
        font-size: 23px;
        line-height: 130%;
        letter-spacing: -1.96px;
        color: #FDFFF8;
      }
    }
  }

  &__sub {
    flex-grow: 1;
  }
}

@media (max-width: 1146px) {
  .main-block {
    height: auto;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    margin-bottom: 120px;
    &::before {
      height: 1000px;
    }
    &__left {
      margin-bottom: 77px;
      text-align: center;
    }
    &__reviews {
      width: 100%;
    }

    &__title {
      width: 100%;
      font-size: 64px;
      line-height: 115%;
      text-align: center;
      letter-spacing: -1.96px;
      color: #084F32;
      margin: 0;
      margin-bottom: 16px;
    }
    &__sub {
      width: 100%;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 620px) {
  .main-block {
    margin-bottom: 64px;
    &__price {
      top: 20%;
    }
  }
}