@media (max-width: 1200px) {
  .services {
    margin-bottom: 96px;

    &__wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 475px;
      align-items: center;
      column-gap: 40px;
    }

    &__block {
      &:nth-child(2) {
        align-self: auto;
      }
    }
  }
}

@media (max-width: 960px) {
  .services {
    &__wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 475px;
      column-gap: 30px;
    }
  }
}

@media (max-width: 860px) {
  .services-block__price_hide {
    opacity: 0;
  }
  .services-block__price_show {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .services {
    &__wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 450px;
      column-gap: 20px;
    }

    &-block {
      &:hover {
        .star {
          opacity: 0;
        }
      }

      &__title {
        margin-top: 43px;
      }

      &__price {
        width: 100px;
        height: 67px;
        top: 135px;

        span {
          &:nth-child(1) {
            top: 22.5px;
            left: -5px;
          }

          &:nth-child(2) {
            font-size: 18px;
          }
        }

        svg {
          top: 47%;
          height: 60px;
        }
      }

      &__btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 760px) {
  .services {
    margin-bottom: 100px;

    &__wrap {
      grid-template-columns: 311px;
      grid-template-rows: 434px;
      grid-auto-rows: 434px;
      justify-content: center;
      column-gap: 0;
      row-gap: 32px;
    }

    &__block {
      &:nth-child(2) {
        order: -1;
      }
    }
  }
}

@media (max-width: 327px) {
  .services {
    &__wrap {
      grid-template-columns: 245px;
      grid-template-rows: 380px;
      grid-auto-rows: 380px;
    }
  }
}

@media (max-width: 300px) {
  .services {
    &__wrap {
      grid-template-columns: 200px;
      grid-template-rows: 280px;
      grid-auto-rows: 330px;
    }
  }
}