.services {
  height: 658px;
  margin-top: 65px;
  margin-bottom: 104px;

  &__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 53px;
    height: 100%;
  }

  &-block {
    position: relative;
    min-width: 360px;
    max-width: 360px;
    min-height: 558px;
    max-height: 558px;
    border-radius: 400px;
    background-color: #e3e3e3;

    &__price {
      width: 130px;
      height: 88px;
      top: 152px;
      background-position: 6px -5px;

      span {
        &:first-child {
          position: absolute;
          top: 18px;
          left: -14px;
          font-family: 'Manrope';
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.24px;
        }
      }
    }

    &__title {
      margin: 0;
      margin-top: 72px;
      font-family: 'Tenor Sans Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.64px;
      text-transform: capitalize;
      color: #FFFFFF;
    }
  }

  &__block {
    outline-style: solid;
    outline-color: #C1D198;
    outline-offset: 8px;
    outline-width: 1px;

    &_large {
      width: 382px;
      height: 606px;
      align-self: flex-start;
    }

    &:nth-child(1) {
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-1.png") no-repeat center / 100%;
    }

    &:nth-child(2) {
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-2.png") no-repeat center / 100%;
    }

    &:nth-child(3) {
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-3.png") no-repeat center / 100%;
    }
  }
}