.services {
  margin-top: 58px;
  margin-bottom: 104px;

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 658px;
    grid-auto-rows: auto;
    align-items: flex-end;
    column-gap: 62px;
  }

  &-block {

    &:hover {
      .star {
        opacity: 1;
      }
      .services-block__price_show {
        opacity: 1;
        display: block;
        visibility: visible;
      }
      .services-block__price_hide {
        display: none;
        opacity: 0;
        visibility: hidden;
      }
      .services-block__btn {
        opacity: 1;
        visibility: visible;
      }
    }

    &__title {
      margin: 0;
      margin-top: 64px;
      font-family: 'Tenor Sans Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 120%;
      text-align: center;
      letter-spacing: -0.64px;
      text-transform: capitalize;
      color: #FFFFFF;
    }

    &__price {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 158px;
      left: 50%;
      transform: translateX(-50%);
      width: 130px;
      height: 88px;

      &_show {
        display: none;
        opacity: 0;
        visibility: hidden;
      }

      &_hide {
        opacity: 1;
        visibility: visible;
        display: block;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      span {
        z-index: 1;

        &:nth-child(1) {
          position: absolute;
          top: 28.5px;
          left: -7px;
          font-weight: 500;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.24px;
          color: #FDFFF8;
        }

        &:nth-child(2) {
          font-family: 'Tenor Sans Regular';
          font-style: normal;
          font-weight: normal;
          font-size: 23px;
          line-height: 130%;
          letter-spacing: -1.96px;
          color: #FDFFF8;
        }
      }
    }

    &__btn {
      position: absolute;
      bottom: 40px;
      left: 50%;
      display: grid;
      place-items: center;
      width: 50px;
      height: 50px;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      backdrop-filter: blur(64px);
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s;
      &_arrow {
        transform: rotate(-45deg);
        width: 16px;
        height: 16px;
      }
    }
  }

  &__block {
    position: relative;
    border-radius: 400px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      height: 104%;
      border: 1px solid #C1D198;
      border-radius: 400px;
    }

    &:nth-child(1) {
      max-height: 558px;
      height: 100%;
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-1.png") no-repeat center / cover;
    }

    &:nth-child(2) {
      max-height: 620px;
      height: 100%;
      align-self: flex-start;
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-2.png") no-repeat center / cover;
      .star-2 {
        right: 46px;
      }
    }

    &:nth-child(3) {
      max-height: 558px;
      height: 100%;
      background: linear-gradient(180deg, rgba(18, 25, 0, 0.8) 0%, rgba(26, 35, 3, 0) 32.3%), url("../img/services-img/image-3.png") no-repeat center / cover;
    }
  }
}

.star {
  position: absolute;
  opacity: 0;
  transition: opacity .4s;
  &-1 {
    top: 124px;
    right: -36px;
    width: 73px;
    height: 73px;
  }
  &-2 {
    bottom: 53px;
    right: 36px;
    width: 24px;
    height: 24px;
  }
  &-3 {
    width: 45px;
    height: 45px;
    bottom: 200px;
    left: -25px;
  }
}