.means {
  padding-top: 40px;
  padding-bottom: 80px;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 72px;
  }

  &-wrap {
    position: relative;
    height: 867px;
  }

  &-block {
    position: absolute;
    top: 0;
    left: 50%;
    width: 512px;
    height: 714px;
    padding: 62px;
    mix-blend-mode: normal;
    border: 1px solid #D6E3B5;
    border-radius: 400px;
    transform: translateX(-50%);
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: -12px;
      left: 50%;
      width: 24px;
      height: 24px;
      transform: translateX(-50%);
      background: url("../img/icons/icons.svg#star") no-repeat center / cover;
    }

    &__img {
      position: relative;
      border-radius: 400px;

      img {
        border-radius: 400px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 103%;
        height: 103%;
        border: 1px solid #F7AA02;
        border-radius: 400px;
        transform: translate(-50%, -50%);
      }
    }

    &__circle {
      position: absolute;
      background: rgba(#F7AA02, .3);
      border-radius: 100%;

      &_top {
        top: 41px;
        left: 116px;
        width: 129px;
        height: 133px;
        filter: blur(84px);
      }

      &_bottom {
        bottom: 27px;
        right: 102px;
        width: 184px;
        height: 188px;
        filter: blur(154px);
      }
    }
  }

  &-elements {
    display: flex;
    width: 926px;
    height: 466px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;

    &__element {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        margin-left: -15px;

        h3 {
          margin-right: 16px;
        }
      }

      &:nth-child(2) {
        flex-flow: column-reverse nowrap;
        align-self: flex-end;

        h3 {
          margin-top: 16px;
        }
      }

      &:nth-child(3) {
        margin-right: 3px;
        flex-flow: row-reverse nowrap;

        h3 {
          margin-left: 16px;
        }
      }
    }

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: -0.56px;
      color: #283505;
    }

    &__icon {
      width: 64px;
      height: 64px;
    }

    &__circle {
      width: 56px;
      height: 56px;
      border-radius: 100%;
      background: #F7AA02;
      border: 5px solid #FDFFF8;
      border-radius: 200px;
    }

  }

  &-wrap-elements {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 790px;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 306px;
    border: 5px solid #EDF2DD;
    border-radius: 400px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border: 1px solid #C0D58D;
      transform: translate(-50%, -50%);
      border-radius: 400px;
    }

    &-right {
      right: 0;
      transform: rotate(9.23deg);

      &::before {
        transform: translate(-50%, -50%) matrix(-1, 0.08, 0.08, 1, 0, 0);
      }
    }

    &-left {
      left: 0;
      transform: rotate(-9.23deg);

      &::before {
        transform: translate(-50%, -50%) matrix(-1, 0.08, 0.08, 1, 0, 0);
        ;
      }
    }
  }
}