.means {
  &__title {
    margin-bottom: 122px;
  }

  &__wrap {
    position: relative;
    min-height: 815px;
    margin-bottom: 183px;
  }

  &-main-block {

    &__wrap {
      position: absolute;
      top: 0;
      left: 50%;
      width: 387px;
      height: 590px;
      transform: translateX(-50%);
    }

    &__img {
      // блок в обгорці дизайн елементів
      width: 100%;
      height: 100%;
      border-radius: 400px;
      background: url("../img/means/means-img.png") no-repeat 50% 50% / cover;
      overflow: hidden;
    }

    &__green-line {
      // Зелений бордер
      position: absolute;
      top: 50%;
      left: 50%;
      width: 125%;
      height: 120%;
      mix-blend-mode: normal;
      border: 1px solid #D6E3B5;
      border-radius: 400px;
      transform: translate(-50%, -50%);
      z-index: 2;

      img {
        //Зірка в шапці блоку
        position: absolute;
        left: 50%;
        top: -13px;
        width: 24px;
        height: 24px;
        transform: translateX(-50%);
      }
    }

    &__red-line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 102%;
      height: 102%;
      border: 1px solid #F7AA02;
      border-radius: 400px;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &__red-circle {
      position: absolute;
      background: rgba(#F7AA02, 1);
      filter: blur(84px);
      border-radius: 100%;
      z-index: -1;

      &_top {
        width: 120px;
        height: 125px;
        top: 0;
        left: 60px;
      }

      &_bottom {
        width: 170px;
        height: 160px;
        bottom: 25px;
        right: 45px;
      }
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 213px;
    height: 325px;
    border: 5px solid #EDF2DD;
    border-radius: 400px;
    overflow: hidden;
    box-sizing: content-box;
  }

  &-left-bottom {
    left: 10px;
    transform: rotate(-9.23deg);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 99%;
      height: 99%;
      border: 1px solid #C0D58D;
      border-radius: 400px;
      transform: translate(-50%, -50%) rotate(4.81deg);
    }
  }

  &-right-bottom {
    right: 10px;
    transform: rotate(9.23deg);

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 99%;
      height: 99%;
      border: 1px solid #C0D58D;
      border-radius: 400px;
      transform: translate(-50%, -50%) rotate(-4.81deg);
    }
  }

  &-info {
    &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      height: 711px;
      width: 926px;
      z-index: 1;
      margin: 0 auto;
      padding-top: 268px;
    }

    &__block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:nth-child(1) {
        margin-left: 52px;
        span {
          &:nth-child(1) {
            margin-right: 16px;
          }
        }
      }

      &:nth-child(2) {
        margin-top: auto;
        flex-direction: column-reverse;

        span {
          &:nth-child(1) {
            margin-top: 16px;
          }
        }
      }

      &:nth-child(3) {
        margin-right: 64px;
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;
        span {
          &:nth-child(1) {
            margin-left: 16px;
          }
        }
      }

      &__text {
        font-weight: 500;
        font-size: 23px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -0.56px;
        color: #283505;
      }
    }

    &__icon {
      width: 64px;
      height: 64px;
    }

    &__circle {
      min-width: 56px;
      min-height: 56px;
      width: 56px;
      height: 56px;
      background: #F7AA02;
      border-radius: 200px;
    }

  }
}