@media(max-width: 1040px) {
  .means {
    margin-top: 269px;

    &__title {
      margin-bottom: 81px;
    }

    &__wrap {
      padding-bottom: 249px;
      margin-bottom: 0;
    }

    &__bottom {
      display: none !important;
      visibility: hidden;
      opacity: 0;
    }

    &-main-block {
      &__wrap {
        width: 304px;
        height: 316px;
      }

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 400px 400px 12px 12px;
        border: 3px solid #EDF2DD;
      }

      &__green-line {
        display: none;
      }

      &__red-line {
        display: none;
      }

      &__red-circle {
        display: none;
      }
    }
  }
}


@media(max-width: 720px) {
  .means {
    &__wrap {
      padding-bottom: 294px;
    }

    &__title {
      margin-bottom: 32px;
    }
  }
}