@media (max-width: 960px) {
  .header {
    position: relative;
    justify-content: center;
    padding: 14px 32px;
    height: 72px;
    &__logo {
      display: none;
      &_mobile {
        display: inherit;
      }
    }
    &__address {
      &_mobile {
        display: inherit;
        margin-right: auto;
        span {
          margin: 0;
        }
      }
    }
    &-info {
      display: none;
    }
  }

  .btn {
    &-menu {
      margin-left: auto;
      display: inherit;
    }
  }
}