.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96px;
  padding: 0 calc(50vw - 684px);
  &__logo {
    width: 121px;
    min-width: 120px;
    height: 34px;
    margin-right: 373px;
    &_mobile {
      display: none;
      width: 50px;
      height: 45px;
    }
    &_menu {
      width: 159px;
      height: 44px;
    }
  }
  &__address, &__phone {
    span, a {
      margin-right: 10px;
      font-style: normal;
      color: #33BB83;
    }
  }
  &-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    &__element {
      display: flex;
      align-items: center;
    }
    &__star {
      margin: 0 16px;
    }
  }
  &__address {
    &_mobile {
      display: none;
    }
  }
}