@media (max-width: 1398px) {
  .header {
    padding: 0 calc(50vw - 580px);
    &__logo {
      margin-right: 200px;
    }
  }
}
@media (max-width: 1185px) {
  .header {
    padding: 0 calc(50vw - 480px);
    &__logo {
      margin-right: auto;
    }
  }
}

@media (max-width: 980px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    padding: 14px 24px;
    height: 72px;
    background: #FDFFF8;
    &_menu {
      align-items: flex-start;
      height: 100vh;
      background-color: #F7FBEC;
      overflow-y: hidden;
    }
    &__logo {
      display: none;
      &_mobile {
        display: inherit;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__address {
      &_mobile {
        display: inherit;
        margin-right: auto;
        span {
          margin: 0;
        }
      }
    }
    &-info {
      display: none;
    }
  }

  .btn {
    &-menu {
      margin-left: auto;
      display: inherit;
    }
  }
}