.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  pointer-events: none; // не забуть що це треба активувати
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  z-index: 99;
  background: rgba(8, 79, 50, 0.3);
  opacity: 0;
  transform: scale(0.9);

  &-order {
    position: relative;
    &__line {
      position: relative;
      display: block;
      width: 104.6%;
      height: 1px;
      margin: 50px 0;
      margin-left: -2.3%;
      background: #D6E3B5;
      &::after {
        content: '';
        position: absolute;
        top: -12px;
        left: 50%;
        width: 24px;
        height: 24px;
        transform: translateX(-50%);
        background: url("../img/icons/icons.svg#star") no-repeat center / cover;
      }
    }
    &__close {
      position: absolute;
      top: -50px;
      right: -50px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #F7FBEC;
      &::after,&::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 1px;
        background-color: #000;
        transform: translate(-50%, -50%);
      }
      &::after {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  &__window {
    padding: 32px 10px;
    margin: 50px 0;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 450px;
    max-width: 100%;
    overflow: visible;
    transition: transform .2s ease 0s, opacity .2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
    border-radius: 40px;
  }

  &__title {
    margin: 0;
    font-family: "Tenor Sans Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 130%;
    letter-spacing: -1.96px;
    color: #182001;
  }

  &__subtitle {
    font-size: 23px;
    line-height: 110%;
    color: #748745;
    margin-bottom: 40px;
  }

  &__form {
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    min-height: 118px;
    margin: 0 auto;
  }


  &__order-btn,
  &__input {
    width: 100%;
  }

  &__text {
    display: flex;
    flex-flow: column;
    align-items: center;

    span {
      margin-bottom: 24px;
      font-size: 23px;
      line-height: 110%;
      color: #748745;
    }
  }

  &_active {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    visibility: visible;
  }
}

@media (max-width: 540px) {
  .modal {
    &__window {
      width: 90%;
    }
    &-order {
      &__close {
        top: -50px;
        right: 0;
      }
    }
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}