.footer {
  background: #F7FBEC;

  &__logo {
    position: relative;
    display: block;
    width: 160px;
    height: 147px;
    margin: 0 auto;
    transform: translateY(-56px);

    &::after {
      content: "";
      position: absolute;
      top: 5%;
      left: 23%;
      width: 80px;
      height: 90px;
      background-color: #fff;
      border-radius: 100%;
      z-index: -1;
    }
  }

  &-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin-top: 45px;
    padding-bottom: 200px;

    &__col {
      display: flex;
      flex-flow: column nowrap;
      text-align: center;
    }

    &__green-text {
      color: #33BB83;
    }

    &__phone-number,
    &__social-link {
      font-weight: 500;
      font-size: 23px;
      line-height: 130%;
      font-feature-settings: 'tnum'on, 'lnum'on;
    }

    &__phone-number {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__social-link {
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__address {
      font-size: 45px;
      line-height: 130%;
      letter-spacing: -0.8px;
      margin-bottom: 48px;
    }

    &__reg-text {
      margin: 0;
      margin-bottom: 28px;
      font-weight: 500;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: -0.8px;
      color: #084F32;
    }

    &__btn-location {
      align-self: center;
      margin-bottom: 40px;
    }

    &__order {
      margin-bottom: 4px;
      font-size: 23px;
      line-height: 130%;
      text-align: center;
      letter-spacing: -0.8px;
      color: #92A660;
    }

    &__order-time {
      font-weight: 500;
      font-size: 23px;
      line-height: 130%;
      text-align: center;
      font-feature-settings: 'tnum'on, 'lnum'on;
      color: #084F32;

      &_mb {
        margin-bottom: 24px;
      }
    }

    &__discount {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 210px;
      height: 220px;
      margin: 0 auto;
      margin-top: 80px;
      background: url('../img/icons/icons.svg#discount-footer') no-repeat center / 100%;

      &::after,
      &::before {
        content: '';
        position: absolute;
        width: 115px;
        height: 115px;
        border-radius: 100%;
      }

      &::after {
        top: -20px;
        left: -10px;
        background: rgba(#F7AA02, .2);
        filter: blur(74px);

      }

      &::before {
        bottom: -20px;
        right: -10px;
        background: rgba(#00E889, .2);
        filter: blur(64px);
      }

      span {
        font-family: "Tenor Sans Regular";
        font-style: normal;
        font-weight: normal;
        letter-spacing: -0.8px;

        &:first-child {
          font-size: 23px;
          line-height: 90%;
          text-align: center;
          color: #F7FBEC;
        }

        &:last-child {
          font-size: 32px;
          line-height: 130%;
          color: #FFFFFF;
        }
      }
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    padding-bottom: 159px;
    &__col {
      display: flex;
      justify-content: center;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      margin: 0 auto;
      background: #F7FBEC;
      border: 2px solid #D6E3B5;
      backdrop-filter: blur(64px);
      border-radius: 100%;

      &-arrow {
        width: 16px;
        height: 16px;
        transform: rotate(-45deg);

        path {
          fill: #084F32;
        }
      }
    }

    &__title {
      margin: 0;
      margin-bottom: 24px;
      font-family: "Tenor Sans Regular";
      font-style: normal;
      font-weight: normal;
      font-size: 45px;
      line-height: 110%;
      letter-spacing: -1.96px;
      color: #084F32;
      text-align: center;
      transition: all .2s;

      &-deco {
        color: #92A660;
      }
    }

    &__click {
      &:hover {
        .footer {
          &-bottom {
            &__title {
              color: #33BB83;
              &-deco {
                color: #33BB83;
              }
            }
            &__link {
              border: 2px solid #33BB83;
              path {
                fill: #33BB83;
              }
            }
          }
        }
      }
    }
  }
}