button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 16px 32px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #FDFFF8;
  border-radius: 39px;
  transition: background-color .3s;

  &__green {
    background: #33BB83;

    &:hover {
      background-color: #31D491;
    }
  }

  &__location {
    color: #283505;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 32px;
    padding-left: 46px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.4px;
    background: #F7FBEC;
    border: 1px solid #B9CC88;
    border-radius: 39px;
    background-image: url('../img/icons/icons.svg#location-purlpe');
    background-repeat: no-repeat;
    background-size: 27%;
    background-position: left center;

    &_mobile {
      position: fixed;
      bottom: 24px;
      left: 24px;
      display: none;
      &_active {
        display: inherit;
      }
    }
  }

  &-menu {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    padding: 0 6px;

    &__line {
      position: absolute;
      top: 12px;
      left: 6px;
      width: 28px;
      height: 2px;
      min-height: 2px;
      background: #283505;
      border-radius: 2px;
      transform-origin: center;
      transition: transform .2s, top .2s;

      &:nth-child(2) {
        top: 27px;
      }
    }

    &_active {
      .btn-menu__line {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(40deg);
        }

        &:nth-child(2) {
          top: 50%;
          transform: rotate(-40deg);
        }
      }
    }
  }
}

.fixed-phone {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: grid;
  place-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #33BB83;
  box-shadow: 0px 12px 34px -5px rgba(0, 173, 102, 0.25);
  z-index: 999;

  img {
    width: 30px;
    height: 30px;
  }
}

.svg-star-dims {
  width: 10px;
  height: 10px;
}

.svg-call-dims,
.svg-location-dims {
  width: 22px;
  height: 22px;
}
.svg-orange-star-dims {
  width: 24px;
  height: 24px;
}

.error-message {
  position: absolute;
  display: none;
  left: 10px;
  top: -20px;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.4px;
  color: #E75C42;
  &_show {
    display: block;
  }
}