@import './fonts';
@import './normalize';

// import file font-size
@import './font-size';
//import container settings
@import './grid';
//налаштування елементів інтерфейсу
@import './interface';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.32px;
  background: #FDFFF8;
  color: #283505;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

//style header and media
@import './header/header';
@import './header/header-media';

//style nav and media
@import './nav/nav';
@import './nav/nav-media';

//style hero and media
@import './hero/hero';
@import './hero/hero-media';

//style reviews and media
@import './reviews/reviews';
@import './reviews/reviews-media';

.show {
  display: inherit;
}
.hide {
  display: none;
}

@media (max-width: 980px) {
  body {
    padding-top: 72px;
  }
}