@import './fonts';
@import './normalize';

// import file font-size
@import './font-size';
//import container settings
@import './grid';
//налаштування елементів інтерфейсу
@import './interface';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.32px;
  background: #FDFFF8;
  color: #283505;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input {
  padding: 0;
}

//style header and media
@import './header/header';
@import './header/header-media';

//style nav and media
@import './nav/nav';
@import './nav/nav-media';

//style hero and media
@import './hero/hero';
@import './hero/hero-media';

//style reviews and media
@import './reviews/reviews';
@import './reviews/reviews-media';

//Стилі для головних екранів інших сторінок
@import './firniture/furniture';

// Стилі для блоку з вибором послуг
@import './section-services/services';
@import './section-services/services-media';

//Стилі для наших клієнтів
@import './customers/customers';

//Стилі для відгуків клієнта Slider
@import './customerFB/customerFB';
@import './customerFB/customerFB-media';

//Стилі для секції Процес чистки
@import './сleaning/сleaning';
@import './сleaning/сleaning-media';

//Стилі для секції Засоби якими користуємось
@import './means/means';
@import './means/means-media';

//Стилі для методів оплати
@import './pay/pay';

//Стилі для футера
@import './footer/footer';
@import './footer/footer-media';

//Стилі для політики конфеденційностi
@import './policy/policy';

//Стилі для блока чистка меблів
@import './furniture-cleaning/furniture-cleaning';

//Стилі для блока як ми працюємо
@import './how-we-work/how-we-work';

.show {
  display: inherit;
}
.hide {
  display: none;
}

@media (max-width: 980px) {
  body {
    padding-top: 72px;
  }
}