@media (max-width: 980px) {
  .nav {
    position: absolute;
    top: 96px;
    left: -100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 96px);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background: #F7FBEC;
    opacity: 0;
    &__link {
      width: 100%;
      font-size: 32px;
      line-height: 110%;
      letter-spacing: -0.24px;
      color: #758748;
      padding: 16px 0;
      &::after {
        display: none;
      }
    }
    &__btn {
      align-self: flex-start;
      margin-top: auto;
    }
  }
}

.showMenu {
  animation-name: showMenu;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}
.hideMenu {
  animation-name: hideMenu;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes showMenu {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@keyframes hideMenu {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}